<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation = "http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<!-- Definition for textEditor bean -->
<bean id="b" class="autowiremod.B"></bean>
<bean id="a" class="autowiremod.A" autowire="constructor"></bean>
 <!--  <property name = "spellChecker" ref = "spellChecker"/>  -->
 <!--<constructor-arg ref="spellChecker"/>-->
<!-- Definition for spellChecker bean -->

</beans>
